@{
    ViewBag.Title = "Meist";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    
    <div class="row mt-4">
        <div class="col-md-6">
            <h4>Kontaktandmed</h4>
            <p><strong>Email:</strong> markjurgennn@gmail.com</p>
            <p><strong>Nimi:</strong> Mark Jurgen</p>
            <p><strong>Telefon:</strong> +372 5683625</p>
        </div>
    </div>
</main>