@{
    ViewBag.Title = "Kontakt";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>

    <div class="row mt-4">
        <div class="col-md-6">
            <h4>Võta meiega ühendust</h4>
            <address>
                <strong>Mark Jurgen</strong><br />
                Tallinn, Eesti<br />
                <abbr title="Telefon">Tel:</abbr>
                +372 5683625
            </address>

            <address>
                <strong>Email:</strong> <a href="mailto:markjurgennn@gmail.com">markjurgennn@gmail.com</a>
            </address>
        </div>
    </div>
</main>